<?xml version="1.0"?>
<launch>
    

	<node pkg="depthimage_to_laserscan" name="depthimage_to_laserscan" type="depthimage_to_laserscan">
		<remap from="image" to="/stereo_publisher/stereo/depth"/>
		<remap from="camera_info" to="/stereo_publisher/stereo/camera_info"/>
		<remap from="scan" to="/laser_scan"/>

		<param name="scan_height" type="int" value="10"/>
		<param name="output_frame_id" type="string" value="oak-d_frame"/>

	</node>


	<group ns="planner">
    <remap from="map" to="/rtabmap/grid_map"/>
	<remap from="move_base_simple/goal" to="/planner_goal"/>
	<remap from="odom" to="/odometry" />
        
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
   		<rosparam file="$(find mapping)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    
		<rosparam file="$(find mapping)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find mapping)/params/local_costmap_params.yaml" command="load"/>
   		<rosparam file="$(find mapping)/params/global_costmap_params.yaml" command="load"/>
    	<rosparam file="$(find mapping)/params/base_local_planner_params.yaml" command="load" />
   </node> 

	</group>

</launch>

